<h1><%= link_to @song.title, song_path(@song) %></h1>
<h3> by  <%= link_to @song.artist.name, artist_path(@song.artist) if @song.artist %> (<%= link_to "Edit Post", edit_author_post_path(@post.author, @post) if @post.author %>)</p>
<p><%= @song.description %></h3>

<%= link_to "All Songs", songs_path %>
